<div>
  <h1 align="center">UPDATE ITEM</h1>
</div>
<br>
<br>
<div class="form-group" align="center">
<mat-form-field style="
width: 900px;
">
 <b>Item Id:</b><br><br><input disabled matInput type="text" name="item_id" id="item_id" [(ngModel)]="item_id"  >
</mat-form-field>
</div>

<div class="form-group" align="center">
<mat-form-field style="
width: 900px;
">
 <b> Item Name:</b><br><br> <input matInput type="text"
  name="item_name"
  [(ngModel)]="item_name">
</mat-form-field>
</div>

<div class="form-group" align="center">
  <mat-form-field style="
  width: 900px;
  ">
   <b>Category Id:</b><br><br><input disabled matInput type="text" name="fk_category_id" id="fk_category_id" [(ngModel)]="fk_category_id">
  </mat-form-field>
  </div>

  <div class="form-group" align="center">
    <mat-form-field style="
    width: 900px;
    ">
     <b> Price:</b><br><br> <input matInput type="text"
      name="price"
      [(ngModel)]="price">
    </mat-form-field>
    </div>

    <div class="form-group" align="center">
      <mat-form-field style="
      width: 900px;
      ">
       <b> Qty:</b><br><br> <input matInput type="text"
        name="qty"
        [(ngModel)]="qty">
      </mat-form-field>
      </div>

      <div class="form-group" align="center">
        <mat-form-field style="
        width: 900px;
        ">
         <b> Description:</b><br><br> <input matInput type="text"
          name="description"
          [(ngModel)]="description">
        </mat-form-field>
        </div>

        <div class="form-group" align="center">
          <mat-form-field style="
          width: 900px;
          ">
           <b> Item Image:</b><br><br> <input matInput type="text"
            name="item_img"
            [(ngModel)]="item_img">
          </mat-form-field>
          </div>

          <div class="form-group" align="center">
            <mat-form-field style="
            width: 900px;
            ">
             <b> Item Size:</b><br><br> <input matInput type="text"
              name="size"
              [(ngModel)]="size">
            </mat-form-field>
            </div>

            <div class="form-group" align="center">
              <mat-form-field style="
              width: 900px;
              ">
               <b> Item Colors:</b><br><br> <input matInput type="text"
                name="colours"
                [(ngModel)]="colours">
              </mat-form-field>
              </div>
  <br>
  <br>
<div class="button-row">
    <button mat-raised-button color="primary" (click)="onUpdate()">UPDATE</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="onCancel()">CANCEL</button>
</div>


