<h1 align="center"><b>VIEW PROFILE</b></h1>
<div class="container">
<div class="form-group">
  <b><u>E-mail Id:     </u></b>
  <label >
  <i>{{email_id}}</i>
  </label></div>
<div class="form-group">
  <b><u>Password:     </u></b><label ><i>{{password}}</i>
</label></div>
<div class="form-group">
    <b><u>User Name:     </u></b><label ><br><i>{{name}}</i>
  </label></div>
<div class="form-group">
    <b><u>Address:     </u></b><label><br><i>{{address}}</i>
  </label></div>
  <div class="form-group">
    <b><u>Gender:     </u></b><label ><br><i>{{gender}}</i>
  </label></div>
<div>
    <b><u>Mobile Number:     </u></b>
    <label ><br><i>{{mobile_no}}</i></label>
  </div>
  <div class="form-group">
    <b><u>State:     </u></b><label ><br><i>{{state}}</i>
  </label></div>
  <div class="form-group">
    <b><u>Country:     </u></b><label ><br><i>{{country}}</i>
  </label></div>
  <div class="form-group">
    <b><u>Type:     </u></b><label ><br><i>{{type}}</i>
  </label></div>
  <br>
  <br>
  <br>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="onLogout()">LOG OUT</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="onUpdate()">UPDATE PROFILE</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="onUpdatePass()">UPDATE PASSWORD</button>
</div>
  <!-- <div class="row">
    <div class="col-md-6">
        <button class="btn btn-lg btn-primary form-control" (click)="onLogout()">LOG OUT</button>
        </div>
        <div class="col-md-6">
        <button class="btn btn-lg btn-danger form-control" (click)="onUpdate()">UPDATE</button>
      </div>
      <br>
      <br>
      <div class="container">
      <div class="form-group">
        <button class="btn btn-lg btn-primary form-control" (click)="onUpdatePass()">UPDATE PASSWORD</button>
      </div>
    </div>
    </div> -->
  </div>


