<div>
  <h1 align="center">UPDATE FLYER REQUIREMENT</h1>
</div>
<br>

<div class="form-group" align="center">
  <mat-form-field style="
  width: 900px;
  ">
    <input matInput name="id"
    [(ngModel)]="id" placeholder="Enter Id" disabled>
    <mat-error>Id is required.</mat-error>
  </mat-form-field>
  </div>

<div class="form-group" align="center">
<mat-form-field style="
width: 900px;
">
  <input matInput required
  name="cname"
  [(ngModel)]="cname"
  placeholder="Enter Company Name">
</mat-form-field>
<br>
</div>


<div class="form-group" align="center">
    <mat-form-field style="
    width: 900px;
    ">
      <textarea matInput
      name="hline"
      [(ngModel)]="hline"
      placeholder="Enter Your Head Line"></textarea>
    </mat-form-field>
    <br>
    <br>
    </div>

    <div class="form-group" align="center">
      <mat-form-field style="
      width: 900px;
      ">
        <textarea matInput
        name="phone"
        [(ngModel)]="phone"
        placeholder="Enter Your Phone Number"></textarea>
      </mat-form-field>
      <br>
      <br>
      </div>

      <div class="form-group" align="center">
        <mat-form-field style="
        width: 900px;
        ">
          <textarea matInput
          name="Address"
          [(ngModel)]="Address"
          placeholder="Enter Your Address"></textarea>
        </mat-form-field>
        <br>
        <br>
        </div>

        <div class="form-group" align="center">
          <mat-form-field style="
          width: 900px;
          ">
            <textarea matInput
            name="offer"
            [(ngModel)]="offer"
            placeholder="Enter Your Offer"></textarea>
          </mat-form-field>
          <br>
          <br>
          </div>

        <div class="form-group" align="center">
          <mat-form-field style="
          width: 900px;
          ">
            <input matInput
            name="requirements"
            [(ngModel)]="requirements"
            placeholder="Enter Your Extra Requirements">
          </mat-form-field>
          <br>
          </div>


        <div class="form-group" align="center">
          <mat-form-field style="
          width: 900px;
          ">
            <input matInput
            name="fk_email_id"
            [(ngModel)]="fk_email_id"
            placeholder="Enter Your Account Email-id">
          </mat-form-field>
          <br>
          </div>


  <br>
<br>
<div class="button-row">
    <button mat-raised-button color="primary" (click)="onUpdate()">UPDATE</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="onCancel()">CANCEL</button>
</div>







