<div>
  <h1 align="center">FORGET PASSWORD</h1>
</div>
<br>
<div class="form-group" align="center">
<mat-form-field style="
width: 900px;
">
  <input matInput name="email_id" #emailid placeholder="Enter Email id" required [(ngModel)]="email_id">
  <mat-error>E-mail id is required.</mat-error>
</mat-form-field>
</div>

<div class="form-group" align="center">
  <mat-form-field style="
  width: 900px;
  ">
    <input matInput name="mobile_no" #mobileno placeholder="Enter Your Mobile Number" required [(ngModel)]="mobile_no">
    <mat-error>Mobile number is required.</mat-error>
  </mat-form-field>
  </div>

  <div class="form-group" align="center">
    <mat-form-field style="
    width: 900px;
    ">
      <input matInput  placeholder="Your Password"  [(ngModel)]="pass">
    </mat-form-field>
    </div>


<div class="button-row">
    <button mat-raised-button color="primary" (click)="onOk()">OK</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="onCancel()">CANCEL</button>
</div>

