<h1 align="center">MANAGE FLYERS REQUIREMENTS</h1>
<br>
<div style="margin-left: 1000px ">
  <button mat-button (click)="onAdd()"><mat-icon >add</mat-icon><b>Add</b></button>
</div>
<mat-form-field style="margin-left:50px">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<br>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort >

  <ng-container matColumnDef="Action1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Check</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox (change)="checked(flyeruser)"></mat-checkbox>

    </td>
  </ng-container>
  <ng-container matColumnDef="cname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
    <td mat-cell *matCellDef="let element"> {{element.cname}}</td>
  </ng-container>

  <ng-container matColumnDef="hline">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>HeadLine</th>
    <td mat-cell *matCellDef="let element"> {{element.hline}}</td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
    <td mat-cell *matCellDef="let element"> {{element.phone}}</td>
  </ng-container>

  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
    <td mat-cell *matCellDef="let element"> {{element.Address}}</td>
  </ng-container>

  <ng-container matColumnDef="offer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Offer</th>
    <td mat-cell *matCellDef="let element"> {{element.offer}}</td>
  </ng-container>

  <ng-container matColumnDef="requirements">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Requirements</th>
    <td mat-cell *matCellDef="let element"> {{element.requirements}}</td>
  </ng-container>

  <ng-container matColumnDef="fk_email_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
    <td mat-cell *matCellDef="let element"> {{element.fk_email_id}}</td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions </th>
    <td mat-cell *matCellDef="let element">
    <button mat-button (click)="onUpdate(element)"><mat-icon >edit</mat-icon></button>
    <button mat-button (click)="onDel(element)"><mat-icon>delete</mat-icon></button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedcolumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedcolumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5,10,15,30,35]"></mat-paginator>




